<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unifei.stefano.lab_ead_app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.ActivityLogin"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityExpList"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".activities.ActivityExpInfo" >

            <!-- android:label="@string/title_activity_activity_exp_info" > -->
        </activity>
        <activity
            android:name=".activities.ActivityExpForm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" >

            <!-- android:label="@string/title_activity_experimento" > -->
        </activity>
        <activity
            android:name=".activities.ActivityUpdateInfo"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_activity_update_info" >
        </activity>
    </application>

</manifest>
